webdev@WebDev:~$ git config --global user.email oflores4@umbc.edu
webdev@WebDev:~$ git config --global user.name "Odalis R. Flores"
webdev@WebDev:~$ git clone git@github.com:oflore12/CMSC447Project.git
