Intructions to give user sudo privilages and installing open ssh
	Make sure that your user has sudo privileges:
		su -
		usermod -aG sudo (insert your user name here)
		reboot

	After the vm rebooted you can add ssh ability to machine, this makes it so
	you can ssh through your terminal making copying and pasting a bit easier.
		sudo apt-get install openssh-server
	
	Once this installs you will go to the virtual box
	Make sure the vm is highlighted under tools
	Click on settings
	Go to Network
	Go to Adapter 2
	Expand the advanced settings
	Click on "Port Forwarding"
	There will be a green diamond and a plus sign button on the window that comes up
	Click it
	Under name add ssh
	Under protocol add TCP
	Under host port add 3022
	Under guest port add 22 
	Click "OK"
	Click "OK"
	Open your terminal on your machine (keep in mind you have to have the vm running so that it can connect through ssh)
	In your terminal run 
			ssh -p 3022 (username)@127.0.0.1
	You will be prompted to enter the password for the vm and you're good to go for ssh

Connecting your machine to github repository
	GENERATING SSH KEY AND ADDING IT TO GITHUB ACCOUNT
		Log into your vm and open up the terminal, if you want to ssh then you can also.
		Generate an ssh key from the vm, run
			ssh-keygen -t rsa -b 4096 -C "email_connected_to_git.hub"
		It will prompt you to save the key in a directory leave blank and just hit enter
		It will prompt you to create a passphrase, you can hit enter twice or enter the passphrase you chose twice (DONT FORGET THE PASSPHRASE)
		If you're on a terminal and ssh'd into the vm then this will be simple
		If not, you should open a browser in the vm and go to github.com and log into your account.
		Either way log into your github account through a web browser and go to settings.
		Find "SSH and GPG keys" (should by in the "Access" section)
		Click on "New SSH key"
		Add title, I used "447VM"
		On the terminal run, 
			cat ~/.ssh/id_rsa.pub
		Copy the ssh key and paste it in the key section of github
		Click "Add SSH key"

	Now you're ready to clone the repository
		In your terminal make sure you're in a directory you want to work on the repository
		Run
			git config --global user.email (insert email you use for github)
			git config --global user.name "insert your name"
			git clone git@github.com:oflore12/CMSC447Project.git
		This should add the project and its content to your directory
		You can run "ls" and see CMSC447Project folder in the directory
		Run	cd CMSC447Project
	You should now have access to the repository and its content.

Installing packages needed for python and flask
	Run these commands:
		sudo apt install -y python3-pip
		sudo apt install -y build-essential libssl-dev libffi-dev python3-dev
		sudo apt install -y python3-venv
	Make sure you're in the CMSC447Project directory
	Run
		python3 -m venv env
To activate environment
	Make sure you're in the CMSC447Project directory
	Run
		source env/bin/activate
	Once you see (env) prior to the username on the terminal
	Run
		pip install flask
To run flask application
	export FLASK_APP=(app_name)
	export FLASK_ENV=development
	flask run
In the vm open the web browser and go to http://127.0.0.1:5000/
You should be able to see the web page
