html,
body {
  height: 100%;
}

body {
  min-height: var(--doc-height);
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}

.mainContainer {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

#providersMenu>li {
  cursor: pointer;
}

.searchSection {
  animation-name: fade-in-up;
  animation-duration: 0.75s;
  animation-fill-mode: backwards;
}

.searchResults {
  margin-top: 50px;
  margin-bottom: 80px;
  display: flex;
  align-items: flex-start;
}

.searchResults>a>img,
.searchResults>a>.noPoster {
  width: 250px;
  height: auto;
  min-height: 375px;
  border-radius: 12px;
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
  background: rgb(248, 249, 250);
  margin-top: 32px;
  margin-right: 40px;
  transition: opacity 1.5s, box-shadow 0.15s, transform 0.1s;
}

.searchResults>a>img {
  opacity: 0;
}

.searchResults>a>img.loadedImg {
  opacity: 1;
}

.searchResults>a>.noPoster {
  width: 250px;
  height: 375px;
  background-image: url(https://www.themoviedb.org/assets/2/v4/glyphicons/basic/glyphicons-basic-38-picture-grey-c2ebdbb057f2a7614185931650f8cee23fa137b93812ccb132b9df511df1cfac.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 60%;
}

.searchResults>a>img.loadedImg.notAvail,
.searchResults>a>.noPoster.notAvail {
  opacity: 0.4;
}

.searchResults>a>img:hover,
.searchResults>a>.noPoster:hover {
  transform: scale(1.02);
}

.searchResultTitle,
.watchlistResultTitle {
  text-decoration: none;
  color: black;
}

.searchResultTitle:hover>span,
.watchlistResultTitle:hover>span {
  text-decoration: underline;
  color: black;
}

.searchResultTitle:hover>span:last-of-type,
.watchlistResultTitle:hover>span:last-of-type {
  text-decoration: none !important;
}

.searchResults>div:last-of-type {
  flex-grow: 1;
}

.provTray {
  border-radius: 12px;
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
  background: rgb(248, 249, 250);
  margin-top: 15px;
  overflow-x: auto;
}

.provRow,
.provColumn {
  display: flex;
  align-items: stretch;
  flex-direction: row;
}

.provColumn.vertical {
  transform: scale(-1);
  writing-mode: vertical-lr;
  display: flex;
  justify-content: center;
  align-items: center;
  background: black;
  color: white;
  padding-left: 2px;
  font-weight: 600;
}

.icons {
  padding-left: 10px;
}

.iconContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 17px 10px;
}

.iconContainer img {
  border-radius: 12px;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  opacity: 0;
  transition: opacity 1.5s, box-shadow 0.15s;
}

.iconContainer img:hover {
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}

.iconContainer img.loadedImg {
  opacity: 1;
}

.notAvailableMsg {
  font-style: italic;
  color: rgba(0, 0, 0, 0.4);
  margin-top: -10px;
  margin-bottom: -5px;
}

.custom-tooltip {
  --bs-tooltip-opacity: 0.85;
}

@keyframes fade-in-up {
  from {
    opacity: 0;
    transform: translateY(12px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.loaderWrapper {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.5);
}

.loaderWrapper.loading {
  display: block;
}

.loaderInner {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.loader {
  margin-top: 6px;
  width: 48px;
  height: 48px;
  background: rgb(226, 236, 253);
  border-radius: 50%;
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  animation: rotation 0.9s linear infinite;
  box-shadow: 0 0px 25px -5px rgb(0 0 0 / 0.1), 0 0px 10px -6px rgb(0 0 0 / 0.1), 0 0 0px 2px rgb(129, 176, 247);
  border: 2px rgb(226, 236, 253) solid;
  box-sizing: content-box;
}

.loader::after {
  content: '';
  box-sizing: border-box;
  position: absolute;
  left: 6px;
  top: 10px;
  width: 12px;
  height: 12px;
  color: var(--bs-primary);
  background: currentColor;
  border-radius: 50%;
  box-shadow: 25px 2px, 10px 22px;
}

@keyframes rotation {
  0% {
    transform: scale(1.25) rotate(0deg);
  }

  100% {
    transform: scale(1.25) rotate(360deg);
  }
}

form#searchBar {
  position: relative;
}

#searchSuggestions {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(39.2667px);
  z-index: 99;
  background: white;
  width: 100%;
  border-radius: 12px;
  box-shadow: 0 3px 6px -1px rgb(0 0 0 / 0.1), 0 1px 4px -2px rgb(0 0 0 / 0.1);
  padding: 0.375rem 0;
  display: none;
  overflow: hidden;
}

#searchSuggestions>a,
.dropdown-menu>li {
  display: block;
  padding: 5px .75rem;
  color: inherit;
  text-decoration: none;
  background-color: white;
  transition: background-color 0.15s;
}

#searchSuggestions>a:hover,
.dropdown-menu>li:hover {
  background-color: rgb(248, 249, 250);
}

.dropdown-menu {
  border: none;
  border-radius: 12px;
  box-shadow: 0 3px 6px -1px rgb(0 0 0 / 0.1), 0 1px 4px -2px rgb(0 0 0 / 0.1);
}

input[name=q],
input[name=q]:focus {
  border-left-color: #6c757d;
  border-right-color: #6c757d;
  transition: border-color 0.15s;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 25px 0 15px;
  font-size: 0.8rem;
  color: rgba(0, 0, 0, 0.55);
}

svg.score {
  height: 125px;
  display: block;
  margin: auto;
}

svg.score path {
  stroke-linecap: round;
  stroke-width: 9;
}

svg.score path.grey {
  stroke: #00000015;
}

svg.score path.color {
  stroke-dasharray: 198;
  animation: dash 1s ease-in-out backwards;
}

svg.score g.one path.color {
  stroke: #ef4444;
}

svg.score g.two path.color {
  stroke: #f97316;
}

svg.score g.three path.color {
  stroke: #facc15;
}

svg.score g.four path.color {
  stroke: #84cc16;
}

svg.score g.five path.color {
  stroke: #22c55e;
}

svg.score path.white {
  stroke: #ffffff;
  stroke-dasharray: 0px, 198px;
  stroke-width: 14;
  animation: dash 1s ease-in-out backwards;
  filter: drop-shadow(0 1px 1px rgb(0 0 0 / 0.1)) drop-shadow(0 1px 2px rgb(0 0 0 / 0.1));
}

svg.score g.one path.white {
  stroke: #dc2626;
}

svg.score g.two path.white {
  stroke: #ea580c;
}

svg.score g.three path.white {
  stroke: #eab308;
}

svg.score g.four path.white {
  stroke: #65a30d;
}

svg.score g.five path.white {
  stroke: #16a34a;
}

@keyframes dash {
  from {
    stroke-dashoffset: 198;
    stroke: #00000015;
  }
}

svg.score.small {
  height: 40px;
}

svg.score.small path {
  stroke-width: 21;
}

svg.score.small path.color {
  animation: dash 1s 0.5s ease-in-out backwards;
}

svg.score.small path.white {
  stroke-width: 27;
  animation: dash 1s 0.5s ease-in-out backwards;
}

.modal-dialog {
  max-width: 1000px;
  padding: 0 10px;
}

.modal-header {
  padding: 18px 16px;
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
  border: none;
  z-index: 999;
}

.modal-content {
  box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
  border: none;
}

.score-modal {
  border-radius: 12px;
  padding-top: 8px;
  padding-bottom: 20px;
  margin-bottom: 50px;
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
}

.score-modal.one {
  background-color: #fef2f2;
}

.score-modal.two {
  background-color: #fff7ed;
}

.score-modal.three {
  background-color: #fefce8;
}

.score-modal.four {
  background-color: #f7fee7;
}

.score-modal.five {
  background-color: #f0fdf4;
}

.reviewBlock {
  background: rgb(248, 249, 250);
  border-radius: 12px;
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
  margin: 20px 0;
  padding: 20px;
  display: flex;
}

.modal .reviewBlock:first-of-type {
  margin-top: 10px;
}

.modal .reviewBlock:last-of-type {
  margin-bottom: 1px;
}

.reviewMain {
  margin-top: -2px;
  flex-grow: 1;
}

.reviewTop {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 6px;
}

.reviewTop p {
  display: inline-block;
  margin-bottom: 0;
  line-height: 1;
}

.reviewAvatar img {
  border-radius: 50%;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  background: white;
  width: 48px;
  margin-right: 15px;
}

.badge.none {
  background: rgba(108, 117, 125, 0.8) !important;
}

.badge.one {
  background: #dc2626 !important;
}

.badge.two {
  background: #ea580c !important;
}

.badge.three {
  background: #eab308 !important;
}

.badge.four {
  background: #65a30d !important;
}

.badge.five {
  background: #16a34a !important;
}

.credentialPortal {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem auto 1rem;
  background-color: rgb(248, 249, 250);
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
  padding: 1rem 2rem;
  border-radius: 12px;
}

.credentialPortal h1 {
  font-size: 2rem;
}

.credentialPortal input {
  margin: 5px auto;
}

.credentialPortal input[type="submit"] {
  display: block;
  margin: 5px auto 25px;
}

.form-alert {
  max-width: 500px;
  margin: 0 auto;
  text-align: center;
}

.watchlistResults {
  text-align: center;
}

.watchlistItem {
  display: flex;
  align-items: center;
  text-align: left;
}

.watchlistItem img,
.watchlistItem .noPoster {
  width: 100px;
  height: auto;
  border-radius: 12px;
  background: rgb(248, 249, 250);
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  transition: transform 0.1s;
}

.watchlistItem img:hover,
.watchlistItem .noPoster:hover {
  transform: scale(1.02);
}

.watchlistItem .noPoster {
  width: 100px;
  height: 150px;
  background-image: url(https://www.themoviedb.org/assets/2/v4/glyphicons/basic/glyphicons-basic-38-picture-grey-c2ebdbb057f2a7614185931650f8cee23fa137b93812ccb132b9df511df1cfac.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 60%;
}

.watchlistButton {
  background: transparent;
  border: none;
  margin-top: 2px;
  margin-right: 20px;
  display: inline-block;
}

.watchlistButton[data-is-added="True"] {
  color: gold;
}

.watchlistButton[data-is-added="True"]:hover {
  color: darkred;
}

.watchlistButton[data-is-added="True"] #add {
  display: none;
}

.watchlistButton[data-is-added="True"] #remove #dash {
  display: none;
}

.watchlistButton[data-is-added="True"]:hover #remove #dash {
  display: block;
}

.watchlistButton[data-is-added="True"]:hover #remove #fill {
  display: none;
}

.watchlistButton[data-is-added="False"] {
  color: gray;
}

.watchlistButton[data-is-added="False"]:hover {
  color: green;
}

.watchlistButton[data-is-added="False"] #remove {
  display: none;
}

.watchlistButton[data-is-added="False"] #add #plus {
  display: none;
}

.watchlistButton[data-is-added="False"]:hover #add #plus {
  display: block;
}

.watchlistButton[data-is-added="False"]:hover #add #empty {
  display: none;
}

.watchlistButton.disabled {
  pointer-events: none;
  color: #ccc;
  background: #ccc;
}

.detailsHeader {
  color: white;
  display: flex;
  border-radius: 12px;
  align-items: flex-end;
  margin: 20px -20px 80px;
  padding: 5px 20px;
}

.detailsHeader img,
.detailsHeader .noPoster {
  width: 300px;
  height: auto;
  border-radius: 12px;
  background: rgb(248, 249, 250);
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  transition: transform 0.1s;
  transform: translateY(40px);
  margin-top: -20px;
}

.detailsHeader .noPoster {
  width: 300px;
  height: 450px;
  background-image: url(https://www.themoviedb.org/assets/2/v4/glyphicons/basic/glyphicons-basic-38-picture-grey-c2ebdbb057f2a7614185931650f8cee23fa137b93812ccb132b9df511df1cfac.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 60%;
}

.detailsHeader h1 {
  font-weight: 600;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  font-size: 3rem;
  margin-bottom: 6px;
  line-height: 0.95;
}

.detailsHeader h1 span {
  opacity: 0.8;
  font-size: 2.25rem;
  font-weight: 500;
}

.detailsHeader h1,
.detailsHeader p {
  text-shadow: 0 0 8px rgba(0, 0, 0, 0.33);
}

.detailsHeader p>b {
  padding-right: 8px;
  opacity: 0.55;
  font-style: normal;
}

.detailsHeader .score #color,
.detailsHeader .score #white {
  animation-delay: 0s;
}

.detailsHeader .widgetTray {
  background: rgba(255, 255, 255, 1);
  color: black;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  border-radius: 12px;
  padding: 8px 15px;
  display: flex;
  margin-top: 25px;
}

.detailsHeader .widgetTray .watchlistButton {
  font-size: 22px;
  margin-right: 14px;
}

.detailsHeader .divider {
  border-left: 1px solid rgba(0, 0, 0, 0.15);
  margin-right: 17px;
}

#actorData {
  display: flex;
  border-radius: 12px;
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
  background: rgb(248, 249, 250);
  margin-top: 15px;
  overflow-x: auto;
}

#actorData>div {
  min-width: 140px;
  max-width: 140px;
  margin: 10px;
  border: 1px solid rgb(227, 227, 227);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 8px 0px;
  border-radius: 8px;
  overflow: hidden;
  padding-bottom: 10px;
  background-color: white;
}

#actorData img {
  width: 100%;
  height: 175px;
  background-color: rgb(219, 219, 219);
}

#actorData>div p {
  margin: 0;
  padding: 0 10px;
}

#actorData>div p:first-of-type {
  font-weight: bold;
  padding-top: 10px;
  padding-bottom: 0;
  font-size: 16px;
}

#actorData>div p:last-of-type {
  font-size: 14.4px;
}

.detailsSubTitle,
.homeSubTitle {
  margin-top: 50px;
  margin-bottom: 0;
}

.detailsReviews {
  margin-bottom: 20px;
}

.detailsReviews .reviewBlock {
  margin: 15px 0;
}

hr {
  color: rgba(0, 0, 0, 0.4);
}

#myData p {
  margin-bottom: 6px;
}

.homeSubTitle {
  background: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 8px 10px;
  display: table;
  border-radius: 12px 12px 0 0;
  position: relative;
}

.homeSubTitle>span {
  padding-left: 50px;
}

@keyframes fireAnimation {
  0% {
    opacity: 1;
    color: rgba(255, 255, 255, 1);
  }

  50% {
    color: rgba(255, 255, 255, 0.75);
  }

  100% {
    opacity: 1;
    color: rgba(255, 255, 255, 1);
  }
}

.flame {
  position: absolute;
  left: 8px;
  top: -65px;
  transform: scale(0.4);
}

.wht {
  color: white;
  animation: burn-wht 1.8s;
  box-shadow: 0 0 1rem white;
}

.ylw {
  color: gold;
  top: 1.8rem;
  animation: burn-ylw 1.6s;
  box-shadow: 0 0 1rem gold;
  opacity: .9
}

.orng {
  color: orange;
  top: 3.6rem;
  animation: burn-orng 0.4s;
  box-shadow: 0 0 1rem orange;
  opacity: .8
}

.red {
  color: crimson;
  top: 5.4rem;
  animation: burn-red 1s;
  opacity: .7;
}

.smoke {
  color: black;
  top: 8.8rem;
  box-shadow: 0 0 2rem black;
  background-color: currentColor;
  position: relative;
  border-color: currentColor;
  width: .25rem;
  height: .25rem;
  top: 7rem;
  animation-name: burn-smoke;
  animation-timing-function: ease-out;
  animation-iteration-count: infinite;
}

.smk-1 {
  animation-duration: .5s;
  animation-name: burn-smoke-rev;
  left: .5rem;
}

.smk-2 {
  animation-duration: .6s;
  left: -.5rem;
}

.smk-3 {
  animation-duration: .7s;
  animation-name: burn-smoke-rev;
  left: 1rem;
}

.smk-4 {
  animation-duration: .8s;
  left: 1.5rem;
}

.smk-5 {
  animation-duration: .9s;
  left: 2rem;
}

.flm-part {
  background-color: currentColor;
  border-radius: 50%;
  position: relative;
  transform: rotate(60deg) skewX(0deg) scale(1);
  border-color: currentColor;
  width: 2rem;
  height: 2rem;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.flm-part.flipped {
  transform: rotate(120deg) skewX(0deg) scale(1);
}

.flm-part::before {
  content: "";
  position: absolute;
  border-radius: 0 0 0 100%;
  border-bottom-style: solid;
  border-bottom-color: inherit;
  height: .5rem;
  width: 2rem;
  left: -1rem;
  top: -.5rem;
  border-bottom-width: 2rem;
}

.flm-part.flipped::before {
  border-radius: 100% 0 0 0;
  border-bottom: 0 solid transparent;
  border-top-style: solid;
  border-top-color: inherit;
  border-top-width: 2rem;
  height: .5rem;
  width: 2rem;
  left: -1rem;
  top: 0;
}


@keyframes burn-wht {
  0% {
    transform: rotate(60deg) skewX(0deg) scale(1)
  }

  20% {
    transform: rotate(50deg) skewX(-3deg) scale(1.1)
  }

  40% {
    transform: rotate(60deg) skewX(0deg) scale(1)
  }

  60% {
    transform: rotate(70deg) skewX(3deg) scale(1.1)
  }

  100% {
    transform: rotate(60deg) skew(0deg) scale(1)
  }
}

@keyframes burn-ylw {
  0% {
    transform: rotate(120deg) skewX(0deg) scale(1.4)
  }

  20% {
    transform: rotate(110deg) skewX(10deg) scale(1.5)
  }

  40% {
    transform: rotate(120deg) skewX(0deg) scale(1.4)
  }

  60% {
    transform: rotate(130deg) skewX(-10deg) scale(1.5)
  }

  100% {
    transform: rotate(120deg) skew(0deg) scale(1.4)
  }
}

@keyframes burn-orng {
  0% {
    transform: rotate(65deg) skewX(0deg) scale(1.6)
  }

  20% {
    transform: rotate(60deg) skewX(-15deg) scale(1.7)
  }

  40% {
    transform: rotate(65deg) skewX(0deg) scale(1.6)
  }

  60% {
    transform: rotate(70deg) skewX(2deg) scale(1.7)
  }

  100% {
    transform: rotate(65deg) skew(0deg) scale(1.6)
  }
}

@keyframes burn-red {
  0% {
    transform: rotate(120deg) skewX(0deg) scale(1.8)
  }

  20% {
    transform: rotate(118deg) skewX(5deg) scale(2)
  }

  40% {
    transform: rotate(120deg) skewX(0deg) scale(1.8)
  }

  60% {
    transform: rotate(122deg) skewX(-5deg) scale(2)
  }

  100% {
    transform: rotate(120deg) skew(0deg) scale(1.8)
  }
}

@keyframes burn-smoke {
  0% {
    transform: rotate(0deg) scale(1);
    opacity: 1;
  }

  100% {
    transform: rotate(360deg) scale(4);
    opacity: 0;
    top: 0;
  }
}

@keyframes burn-smoke-rev {
  0% {
    transform: rotate(0deg) scale(1);
    opacity: 1;
  }

  100% {
    transform: rotate(-360deg) scale(5);
    opacity: 0;
    top: 0;
  }
}

#popularData {
  display: flex;
  border-radius: 0 0 12px 12px;
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
  margin-top: 0;
  overflow-x: auto;
}

#popularData>div {
  min-width: 135px;
  max-width: 135px;
  margin: 10px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2), 0 4px 12px rgba(0, 0, 0, 0.1), 0 8px 24px rgba(0, 0, 0, 0.08), 0 16px 48px rgba(0, 0, 0, 0.05), 0 32px 96px rgba(0, 0, 0, 0.03);
  border-radius: 8px;
  overflow: hidden;
  padding-bottom: 10px;
  background-color: white;
  cursor: pointer;
}

#popularData img {
  width: 100%;
  height: 175px;
  background-color: rgb(219, 219, 219);
}

#popularData>div p {
  margin: 0;
  padding: 0 10px;
}

#popularData>div p:first-of-type {
  font-weight: bold;
  padding-top: 10px;
  padding-bottom: 0;
  font-size: 16px;
}