{% extends 'base.html' %}
{% import 'providers.html' as providers %}
{% import 'reviews.html' as reviews %}
{% import 'score_gauge.html' as score %}
{% import 'watchlist_button.html' as watchlistButton %}

{% block title %} {{item.title}} {% if item.year %} ({{ item.year }}) {% endif %} {% endblock %}

{% block content %}
<style>
  div.row {
    margin: 0;
    padding: 1;
    align-self: auto;
    max-height: 300px;
    overflow: auto;
  }

  div.card {
    border: 0;
    width: 11rem;
  }

  div.p2 {
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: normal;
    align-items: normal;
  }

</style>

<div class="d-flex p-3" id="myData">
  <div class="p-2">
    <img class="ml-0 " style="border-radius: 5%; width:300px;" id="poster" alt="Generic placeholder image">
  </div>
  <div class="col p-2">
    <h1 style="color:white;text-align:center">{{item.title}}{% if item.year %} ({{ item.year }}) {% endif %}</h1>
    <p style="color:white;" id="general_info"></p>
    <h4 style="color:white;">Overview</h4>
    <p style="color:white;" id='overview'></p>
    <p style="color:white;" id='revenue'></p>
    <p style="color:white;" id='release_upcoming'></p>
    <p style="color:white;" id="user_score"></p>
    <p style="color:white;" id='runtime'></p>
  </div>

</div>
<div class="widgetTray d-flex">
  {% if current_user.is_authenticated %}
  {{watchlistButton.main(item)}}
  <span class="divider"></span>
  {% endif %}
  {{score.scoreGaugeSmall(item.score, item.score_count)}}
</div>

<script>
  const IMG_URL = 'https://image.tmdb.org/t/p/w500';
  fetch("https://api.themoviedb.org/3/{{item.media_type}}/{{item.id}}?api_key=523e00cfc7fcc6bed883c38162ea974d")
    .then(function(response) {
      return response.json();
    })
    .then(function(data) {

      if (data.original_title) {
        appendMovieData(data);
      } else {
        appendTvData(data);
      }

    })
    .catch(function(error) {
      console.error('Media data wasn\'t gathered correctly');
    });


  function appendMovieData(data) {
    itemsOfMovies = 'border-radius: 15px; background-image: linear-gradient(rgba(20,10.5, 10.5, .9), rgba(31.5, 10.5, 10.5, 0.84) ), url(' + IMG_URL + data.backdrop_path + ');background-repeat: no-repeat;background-attachment: initial; background-size: cover;';
    document.getElementById("myData").style = itemsOfMovies;
    document.getElementById("poster").src = IMG_URL + data.poster_path;
    document.getElementById("overview").innerHTML = data.overview;
    document.getElementById("revenue").innerHTML = "Revenue: " + data.revenue;
    document.getElementById("user_score").innerHTML = "User Score: " + data.vote_average;
    document.getElementById("release_upcoming").innerHTML = 'Released or Upcoming?: ' + data.status + ' on ' + data.release_date;
    document.getElementById("runtime").innerHTML = data.runtime + ' min(s)';
  }


  function appendTvData(data) {
    itemsOfMovies = 'border-radius: 15px; background-image: linear-gradient(rgba(20,10.5, 10.5, .9), rgba(31.5, 10.5, 10.5, 0.84) ), url(' + IMG_URL + data.backdrop_path + ');background-repeat: no-repeat;background-attachment: initial; background-size: cover;';
    document.getElementById("myData").style = itemsOfMovies;
    document.getElementById("poster").src = IMG_URL + data.poster_path;
    document.getElementById("overview").innerHTML = data.overview;
    document.getElementById("user_score").innerHTML = "User Score: " + data.vote_average;
    document.getElementById("release_upcoming").innerHTML = 'Still Airing or Finished: ' + data.status + ' on ' + data.release_date;
    document.getElementById("runtime").innerHTML = 'Number of Seasons: ' + data.number_of_seasons + "<br />" + "<br />" + 'Number of Episodes: ' + data.number_of_episodes;
  }

</script>
<h3 class="detailsSubTitle">Streaming Providers</h3>

{{ providers.tray(item) }}

{% if not item.providers.get(country) %}
<p class="notAvailableMsg">Not available from any streaming providers.</p>
{% endif %}

<h3 class="detailsSubTitle">Cast</h3>
<div class="container-fuild">
  <div class="row" id="actorData"></div>
</div>


<script>
  fetch("https://api.themoviedb.org/3/{{item.media_type}}/{{item.id}}/credits?api_key=523e00cfc7fcc6bed883c38162ea974d")
    .then(function(response) {
      return response.json();
    })
    .then(function(data) {
      appendActorData(data);
    })
    .catch(function(error) {
      console.error('Actor data wasn\'t gathered correctly');
    });


  function appendActorData(data) {
    let x = "";
    for (var i = 0; i < data.cast.length; i++) {
      x += '<div class="p-2 card">';
      x += '<img src=' + IMG_URL + data.cast[i].profile_path + ' class="card-img-top" alt="Not Found">';
      x += '<p class="card-title">' + "Character Name:<br>" + data.cast[i].character + '</br></p>'
      x += '<p class="card-text">' + "Actor Name:<br>" + data.cast[i].name + '</br></p></div>';
    }
    document.getElementById("actorData").innerHTML = x;
  }

</script>


<h3 class="detailsSubTitle">Commentary Reviews</h3>

<div class="detailsReviews">

  {{ reviews.commentary(item) }}

  {% if not item.reviews %}
  <p class="notAvailableMsg" style="margin: 5px 0 6px;">None currently available.</p>
  {% endif %}
</div>

{{watchlistButton.script()}}

{% endblock %}
