{% import 'score_gauge.html' as score_gauge %}

{% macro reviewsModal(r) -%}
<div class="modal fade" id="reviews-{{r.id}}" tabindex="-1" aria-labelledby="reviews-{{r.id}}" style="display: none;"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5"
                    style="font-weight: 400; font-size: 24px !important; margin-right: 50px; line-height: 1;">
                    Reviews for <span style="font-weight: 700;">{{r.title}}</span>
                    {% if r.year %}
                    <span style="font-size: 17px; font-weight: 400; opacity: 0.8">
                        ({{ r.year }})
                    </span>
                    {% endif %}
                </h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                {{ score_gauge.scoreGaugeModal(r.score, r.score_count) }}

                <div style="margin-top: 50px;">
                    <p style="font-size: 22px; margin: 0; font-weight: 600;">Commentary Reviews</p>

                    {{ commentary(r) }}

                    {% if not r.reviews %}
                    <p class="notAvailableMsg" style="margin: 0 0 6px;">None currently available.</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{%- endmacro %}

{% macro commentary(r) -%}
{% for c in r.reviews %}
<div class="reviewBlock">
    <div class="reviewAvatar">
        {% if c.author_details.avatar_path and 'secure.gravatar' in c.author_details.avatar_path
        %}
        <img src="{{c.author_details.avatar_path[1:]}}" alt="{{c.author_details.username}}" />
        {% elif c.author_details.avatar_path %}
        <img src="https://secure.gravatar.com/avatar{{c.author_details.avatar_path}}"
            alt="{{c.author_details.username}}" />
        {% else %}
        <img src="https://secure.gravatar.com/avatar" alt="{{c.author_details.username}}" />
        {% endif %}
    </div>
    <div class="reviewMain">
        <div class="reviewTop">
            <div class="display: flex; flex-direction: column;">
                <div class="display: flex; margin-bottom: -4px;">
                    {% if c.author_details.name %}
                    <p style="font-weight: 700; margin-right: 2px;">{{c.author_details.name}}</p>
                    {% endif %}
                    <p style="opacity: 0.7;">@{{c.author_details.username}}</p>
                    <span style="opacity: 0.7;">·</span>
                    <p style=" opacity: 0.7;">
                        <script
                            type="text/javascript">document.write(moment(new Date("{{c.updated_at}}")).fromNow());</script>
                    </p>
                </div>
            </div>
            <div>
                {% if c.author_details.rating %}
                <p class="badge bg-secondary {{'one' if c.author_details.rating < 2}} {{'two' if c.author_details.rating >= 2 and c.author_details.rating < 4}} {{'three' if c.author_details.rating >= 4 and c.author_details.rating < 6}} {{'four' if c.author_details.rating >= 6 and c.author_details.rating < 8}} {{'five' if c.author_details.rating >= 8}}"
                    style="font-size: 14px"><span style="font-weight: 700;">{{c.author_details.rating|int}}</span><span
                        style="opacity: 0.75; font-weight: 400;">/10</span></p>
                {% else %}
                <p class="badge none" style="font-size: 14px"><span style="font-weight: 700;">-</span><span
                        style="opacity: 0.75; font-weight: 400;">/10</span></p>
                {% endif %}
            </div>
        </div>

        {% markdown %}
        {{c.content|safe}}
        {% endmarkdown %}
    </div>
</div>
{% endfor %}
{%- endmacro %}