{% macro scoreGauge(score, scoreCount) -%}
<div>
    <svg viewbox="0 0 110 110" class="score" style="margin-top: -10px; opacity: {{'0.4' if scoreCount == 0 else '1'}}">
        <g
            class="{{'one' if score < 20}} {{'two' if score >= 20 and score < 40}} {{'three' if score >= 40 and score < 60}} {{'four' if score >= 60 and score < 80}} {{'five' if score >= 80}}">
            <path class="grey" d="M30,90 A40,40 0 1,1 80,90" fill='none' />
            <path id="color" fill='none' class="color" d="M30,90 A40,40 0 1,1 80,90"
                stroke-dashoffset="{{198 if score == 0 else 198-(score*1.98)}}" />
            <path id="white" fill='none' class="white" d="M30,90 A40,40 0 1,1 80,90"
                stroke-dashoffset="{{198 if score == 0}} {{2 if score == 100}} {{199-(score*1.99) if score > 0 and score < 100}}"
                style="opacity: {{'0' if scoreCount == 0 else '1'}}" />
            <text x="50%" y="55%" dominant-baseline="middle" text-anchor="middle" font-size="18.5px"
                font-weight="700">{{score if scoreCount > 0 else "--.-"}}%</text>
        </g>
    </svg>
    <p style="text-align: center; margin: -13px 0 0; font-size: 14px; opacity: 0.75;">{{scoreCount}} review{{'s' if
        scoreCount != 1}}</p>
</div>
{%- endmacro %}

{% macro scoreGaugeSmall(score, scoreCount) -%}
<div style="display: flex; align-items: center; opacity: {{'0.6' if scoreCount == 0 else '1'}};"
    data-bs-toggle="tooltip" data-bs-title="TMDb Review Score" data-bs-custom-class="custom-tooltip">
    <svg viewbox="0 0 110 110" class="score small" style="margin-bottom: -1px;">
        <g
            class="{{'one' if score < 20}} {{'two' if score >= 20 and score < 40}} {{'three' if score >= 40 and score < 60}} {{'four' if score >= 60 and score < 80}} {{'five' if score >= 80}}">
            <path class="grey" d="M30,90 A40,40 0 1,1 80,90" fill='none' />
            <path id="color" fill='none' class="color" d="M30,90 A40,40 0 1,1 80,90"
                stroke-dashoffset="{{199 if score == 0 else 199-(score*1.99)}}" />
            <path id="white" fill='none' class="white" d="M30,90 A40,40 0 1,1 80,90"
                stroke-dashoffset="{{199 if score <= 1}} {{4 if score == 100}} {{199-(score*1.99) if score > 1 and score < 100}}" />
        </g>
    </svg>
    <p style="display: flex; flex-direction: column; margin: 0 0 0 10px;">
        <span style="font-weight: 600; margin-bottom: -4px; font-size: 16px;">{{score if scoreCount > 0 else
            "--.-"}}%</span>
        <span style="font-size: 13px; opacity: 0.75; white-space: nowrap;">({{scoreCount}} review{{'s' if scoreCount !=
            1}})</span>
    </p>
</div>
{%- endmacro %}