{% extends 'base.html' %}
{% import 'search_bar.html' as search_bar %}

{% block title %}Search{% endblock %}

{% block content %}
{{ search_bar.mainSearchBar(q, provider) }}

<section class="searchSection" style="flex-grow: 1">
	{% if not results %}
	<div class="searchResults noSearchResults"
		style="display: flex; flex-direction: column; align-items: center; padding: 50px 0; margin-top: 0; margin-bottom: 0">
		<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#aaa" class="bi bi-search"
			viewBox="0 0 16 16" style="display: block; width: 150px; height: 150px; margin-bottom: 20px; opacity: 0.4">
			<path
				d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
		</svg>
		<p style="display: block; text-align: center; font-size: 1.8rem; opacity: 0.8; font-weight: 600;">
			Bummer! No results found.
		</p>
	</div>
	{% endif %}

	{% for r in results %}
	<div class="searchResults">
		<h4 style="margin-top: 25px; font-weight: 600;">{{r.title}}</h4>

		<div class="provTray">
			{% if r.providers.get(country).buy %}
			<div class="provRow">
				<div class="provColumn vertical" style="background: rgba(0,0,0,1)">BUY</div>
				<div class="provColumn icons">
					{% for b in r.providers.get(country).buy %}
					<div class="iconContainer">
						{% set imageUrl = "https://image.tmdb.org/t/p/w500" + b.logo_path %}
						<img src="{{imageUrl}}" alt="{{b.provider_name}}" width="75" height="75"
							onload="this.classList.add('loadedImg')" data-bs-toggle="tooltip"
							data-bs-title="{{b.provider_name}}" data-bs-custom-class="custom-tooltip" />
						<!--<span>{{b.provider_name}}</span>-->
					</div>
					{% endfor %}
				</div>
			</div>
			{% endif %}

			{% if r.providers.get(country).flatrate %}
			<div class="provRow">
				<div class="provColumn vertical" style="background: rgba(0,0,0,0.7)">STREAM</div>
				<div class="provColumn icons">
					{% for f in r.providers.get(country).flatrate %}
					<div class="iconContainer">
						{% set imageUrl = "https://image.tmdb.org/t/p/w500" + f.logo_path %}
						<img src="{{imageUrl}}" alt="{{f.provider_name}}" width="75" height="75"
							onload="this.classList.add('loadedImg')" data-bs-toggle="tooltip"
							data-bs-title="{{f.provider_name}}" data-bs-custom-class="custom-tooltip" />
						<!--<<span>{{f.provider_name}}</span>-->
					</div>
					{% endfor %}
				</div>
			</div>
			{% endif %}

			{% if r.providers.get(country).rent %}
			<div class="provRow">
				<div class="provColumn vertical" style="background: rgba(0,0,0,0.45)">RENT</div>
				<div class="provColumn icons">
					{% for p in r.providers.get(country).rent %}
					<div class="iconContainer">
						{% set imageUrl = "https://image.tmdb.org/t/p/w500" + p.logo_path %}
						<img src="{{imageUrl}}" alt="{{p.provider_name}}" width="75" height="75"
							onload="this.classList.add('loadedImg')" data-bs-toggle="tooltip"
							data-bs-title="{{p.provider_name}}" data-bs-custom-class="custom-tooltip" />
						<!--<<span>{{p.provider_name}}</span>-->
					</div>
					{% endfor %}
				</div>
			</div>
			{% endif %}

			{% if r.providers.get(country).free %}
			<div class="provRow">
				<div class="provColumn vertical" style="background: rgba(0,0,0,0.25); color: black">FREE</div>
				<div class="provColumn icons">
					{% for f in r.providers.get(country).free %}
					<div class="iconContainer">
						{% set imageUrl = "https://image.tmdb.org/t/p/w500" + f.logo_path %}
						<img src="{{imageUrl}}" alt="{{f.provider_name}}" width="75" height="75"
							onload="this.classList.add('loadedImg')" data-bs-toggle="tooltip"
							data-bs-title="{{f.provider_name}}" data-bs-custom-class="custom-tooltip" />
						<!--<<span>{{f.provider_name}}</span>-->
					</div>
					{% endfor %}
				</div>
			</div>
			{% endif %}

			{% if r.providers.get(country).ads %}
			<div class="provRow">
				<div class="provColumn vertical" style="background: rgba(0,0,0,0.1); color: black">ADS</div>
				<div class="provColumn icons">
					{% for a in r.providers.get(country).ads %}
					<div class="iconContainer">
						{% set imageUrl = "https://image.tmdb.org/t/p/w500" + a.logo_path %}
						<img src="{{imageUrl}}" alt="{{a.provider_name}}" width="75" height="75"
							onload="this.classList.add('loadedImg')" data-bs-toggle="tooltip"
							data-bs-title="{{a.provider_name}}" data-bs-custom-class="custom-tooltip" />
						<!--<<span>{{a.provider_name}}</span>-->
					</div>
					{% endfor %}
				</div>
			</div>
			{% endif %}
		</div>

		{% if not r.providers.get(country) %}
		<p class="notAvailableMsg">Not available from any streaming providers</p>
		{% endif %}
	</div>
	{% endfor %}
</section>

<script>
	const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]')
	const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl))

	const outerHeight = (el) => {
		var height = el.offsetHeight;
		var style = window.getComputedStyle(el);
		height += parseInt(style.marginTop) + parseInt(style.marginBottom);
		return height;
	};

	const spaceNoResults = () => {
		let searchSection = document.querySelector('.searchSection')
		let noResults = document.querySelector('.searchResults.noSearchResults')
		if (noResults) {
			const inner = function () {
				let space = (outerHeight(searchSection) - noResults.clientHeight) / 2
				noResults.style.marginTop = space + 'px'
			}
			searchSection.addEventListener("animationstart", inner)
			window.addEventListener('resize', inner)
		}
	}

	spaceNoResults();
</script>
{% endblock %}