{% extends 'base.html' %}
{% import 'search_bar.html' as search_bar %}

{% block title %}Search{% endblock %}

{% block content %}
{{ search_bar.mainSearchBar(q, provider) }}

{% for r in results %}


<div>
	<h4>{{r.title}}</h4>

	<p>Avaiable to buy on:</p>
	<ul>
		
		{%if not r.buy_providers %}

                There are no providers to buy this from

                {%endif%}


		{% for b in r.buy_providers %}

			{% set counter = loop.index0 %}

			<li>			
							
			{% set imageUrl = "https://image.tmdb.org/t/p/w500/" + r.buy_provider_logo[counter]%}      
				
			<img src= "{{imageUrl}}" alt="streaming service logo" width="50" height="50" />
			
			{{b}}
							
			</li>

		{% endfor %}
	</ul>

	<p>Avaiable to stream on subscription services:</p>
	<ul>

		{%if not r.flatrate_providers %}

                There are no providers to stream this from

                {%endif%}

		{% for f in r.flatrate_providers %}
	
			{% set counter = loop.index0 %}

			<li>

                        {% set imageUrl = "https://image.tmdb.org/t/p/w500/" + r.flatrate_provider_logo[counter]%} 

			<img src= "{{imageUrl}}" alt="streaming service logo" width="50" height="50" />

			{{f}}

			</li>

		{% endfor %}
	</ul>

	<p>Avaiable to rent on:</p>
	<ul>
		{%if not r.rent_providers %}

                There are no providers to rent this from

                {%endif%}

		{% for p in r.rent_providers %}
			
			{% set counter = loop.index0 %}

                        <li>

                        {% set imageUrl = "https://image.tmdb.org/t/p/w500/" + r.rent_provider_logo[counter]%}

                        <img src= "{{imageUrl}}" alt="streaming service logo" width="50" height="50" />

			{{p}}

			</li>

		{% endfor %}
	</ul>
</div>
{% endfor %}
{% endblock %}
