{% macro mainSearchBar(q, provider) -%}
<form action="{{ url_for('search') }}" method="get" id="searchBar" class="my-3">
    <div class="input-group">
        <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
            id="providersLabel" aria-expanded="false">All Providers</button>
        <ul class="dropdown-menu" id="providersMenu">
            <li class="dropdown-item" data-form-val="all">All Providers</a></li>
            <li class="dropdown-item" data-form-val="amazon">Amazon Prime Video</li>
            <li class="dropdown-item" data-form-val="apple">Apple TV+</li>
            <li class="dropdown-item" data-form-val="disney">Disney+</li>
            <li class="dropdown-item" data-form-val="discovery">Discovery+</li>
            <li class="dropdown-item" data-form-val="hbo">HBO</li>
            <li class="dropdown-item" data-form-val="hulu">Hulu</li>
            <li class="dropdown-item" data-form-val="netflix">Netflix</li>
            <li class="dropdown-item" data-form-val="paramount">Paramount+</li>
            <li class="dropdown-item" data-form-val="peacock">Peacock</li>
            <li class="dropdown-item" data-form-val="showtime">Showtime</li>
            <li class="dropdown-item" data-form-val="youtube">YouTube Premium</li>
        </ul>
        <input type="hidden" name="provider" value="{{ 'all' if provider is none or provider == '' else provider }}"
            id="providersValue" />

        <input name="q" type="text" class="form-control shadow-none" placeholder="" value="{{ q }}"
            aria-label="Example text with button addon" aria-describedby="button-addon1" autocomplete="off">
        <button class="btn btn-outline-secondary" type="submit" id="button-addon1">Search</button>
    </div>

    <div id="searchSuggestions">

    </div>
</form>

<div class="loaderWrapper">
    <div class="loaderInner">
        <span class="loader">
    </div>
</div>

<script>
    document.addEventListener('click', function (event) {
        if (event.target.matches('#providersMenu .dropdown-item')) {
            document.getElementById("providersLabel").innerText = event.target.innerText;
            document.getElementById("providersValue").value = event.target.dataset.formVal;
            sizeSuggestionsBar();
        }

        if (event.target.matches("#button-addon1") || event.target.matches("#searchSuggestions>a"))
            document.querySelector(".loaderWrapper").classList.add("loading")

        if (!event.target.matches("#searchSuggestions") && !event.target.matches("input[name=q]")) {
            document.querySelector("#searchSuggestions").style.display = 'none';
            document.querySelector("#searchSuggestions").innerHTML = ''
        } else
            handleSuggestions();
    }, false);

    document.querySelector('input[name=q]').addEventListener('input', function (event) {
        handleSuggestions();
    });

    const handleSuggestions = () => {
        let searchBar = document.querySelector('input[name=q]');
        let suggestionsMenu = document.querySelector('#searchSuggestions')

        if (searchBar.value.length < 2) {
            suggestionsMenu.style.display = 'none'
            suggestionsMenu.innerHTML = ''
            return
        }

        userAction(searchBar).then((suggestions) => {
            suggestionsMenu.innerHTML = ''

            for (i in suggestions) {
                let q = suggestions[i]
                suggestionsMenu.innerHTML += '<a href="/search?q=' + q + '&provider=all">' + q.replace(searchBar.value, '<b>' + searchBar.value + '</b>') + '</a>'
            }

            if (suggestions.length > 0)
                suggestionsMenu.style.display = 'block'
            else
                suggestionsMenu.style.display = 'none'
        })
    }

    const userAction = async (elm) => {
        const response = await fetch('/suggestions?' + new URLSearchParams({
            q: elm.value,
        }));
        const myJson = await response.json();
        return myJson;
    }

    const sizeSuggestionsBar = () => {
        document.querySelector('#searchSuggestions').style.width = document.querySelector('input[name=q]').clientWidth + 'px';
        document.querySelector('#searchSuggestions').style.left = document.querySelector('#providersLabel').clientWidth + 2 + 'px';
    }

    onResize = () => {
        sizeSuggestionsBar()
        window.addEventListener('resize', sizeSuggestionsBar)

        const docHeight = () => {
            document.documentElement.style.setProperty('--doc-height', window.innerHeight)
        }
        docHeight()
        window.addEventListener('resize', docHeight)
    }
    onResize();

    document.querySelector("#providersMenu .dropdown-item[data-form-val='{{ 'all' if provider is none or provider == '' else provider }}']").click();
</script>
{%- endmacro %}