{% macro mainSearchBar(q, provider) -%}
<form action="{{ url_for('search') }}" method="get">
    <div class="input-group my-3">
        <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
            id="providersLabel" aria-expanded="false">All Providers</button>
        <ul class="dropdown-menu" id="providersMenu">
            <li class="dropdown-item" data-form-val="all">All Providers</a></li>
            <li class="dropdown-item" data-form-val="alt-balaji">Alt Balaji</li>
            <li class="dropdown-item" data-form-val="prime">Amazon Prime Video</li>
            <li class="dropdown-item" data-form-val="apple">Apple TV+</li>
            <li class="dropdown-item" data-form-val="disney-espn">Disney+ & ESPN+</li>
            <li class="dropdown-item" data-form-val="hbo-disc">HBO Max and Discovery+</li>
            <li class="dropdown-item" data-form-val="hulu">Hulu</li>
            <li class="dropdown-item" data-form-val="iqiyi">iQIYI</li>
            <li class="dropdown-item" data-form-val="netflix">Netflix</li>
            <li class="dropdown-item" data-form-val="para-show">Paramount+ & Showtime</li>
            <li class="dropdown-item" data-form-val="tencent">Tencent Video</li>
            <li class="dropdown-item" data-form-val="viu">Viu</li>
            <li class="dropdown-item" data-form-val="youku">Youku</li>
            <li class="dropdown-item" data-form-val="yt">YouTube Premium</li>
        </ul>
        <input type="hidden" name="provider" value="{{ 'all' if provider is none or provider == '' else provider }}" id="providersValue" />

        <input name="q" type="text" class="form-control" placeholder="" value="{{ q }}"
            aria-label="Example text with button addon" aria-describedby="button-addon1">
        <button class="btn btn-outline-secondary" type="submit" id="button-addon1">Search</button>
    </div>
</form>
<script>
    document.addEventListener('click', function (event) {
        if (!event.target.matches('#providersMenu .dropdown-item')) return;
        document.getElementById("providersLabel").innerText = event.target.innerText;
        document.getElementById("providersValue").value = event.target.dataset.formVal;
    }, false);

    document.querySelector("#providersMenu .dropdown-item[data-form-val='{{ 'all' if provider is none or provider == '' else provider }}']").click();
</script>
{%- endmacro %}