{% extends 'base.html' %}
{% import 'search_bar.html' as search_bar %}
{% import 'score_gauge.html' as score_gauge %}
{% import 'reviews.html' as reviews %}
{% import 'watchlist_button.html' as watchlist_button %}
{% import 'providers.html' as providers %}
{% import 'watchlist_button.html' as watchlistButton %}

{% block title %}Search{% endblock %}

{% block content %}
{{ search_bar.mainSearchBar(q, provider) }}

<section class="searchSection" style="flex-grow: 1">
	{% if not results %}
	<div class="searchResults noSearchResults"
		style="display: flex; flex-direction: column; align-items: center; padding: 50px 0; margin-top: 0; margin-bottom: 0">
		<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#aaa" class="bi bi-search"
			viewBox="0 0 16 16" style="display: block; width: 150px; height: 150px; margin-bottom: 20px; opacity: 0.4">
			<path
				d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
		</svg>
		<p style="display: block; text-align: center; font-size: 1.8rem; opacity: 0.8; font-weight: 600;">
			Bummer! No results found.
		</p>
	</div>
	{% endif %}

	{% for r in results %}
	<div class="searchResults">
		<a href="/details/{{r.type}}/{{r.id}}">
			{% if r.poster %}
			<img src="https://image.tmdb.org/t/p/w500{{ r.poster }}" alt="{{ r.title }}"
				class="{{'notAvail' if not r.providers.get(country)}}" onload="this.classList.add('loadedImg')" />
			{% else %}
			<div class="noPoster {{'notAvail' if not r.providers.get(country)}}"></div>
			{% endif %}
		</a>

		{{reviews.reviewsModal(r)}}

		<div style="min-width: 0">
			<div
				style="display: flex; justify-content: space-between; align-items: flex-end; margin-top: 13px; margin-bottom: 22px;">
				<a href="/details/{{r.type}}/{{r.id}}" class="searchResultTitle"
					style="font-weight: 600; font-size: 28px; margin: 14px 0 0; line-height: 1; color: black;">
					<span>{{r.title}}</span>
					{% if r.year %}
					<span style="font-size: 20px; font-weight: 400; padding-left: 3px; opacity: 0.8;">
						({{ r.year }})
					</span>
					{% endif %}
				</a>

				<div style="display: flex; margin-bottom: -4px; margin-left: 50px; font-size: 25px;">
					{% if current_user.is_authenticated %}
					{{watchlistButton.main(r)}}
					{% endif %}
					{% if r.score_count == 0 %}
					<div style="cursor: default;">
						{{ score_gauge.scoreGaugeSmall(r.score, r.score_count) }}
					</div>
					{% else %}
					<div style="margin-bottom: -3px;">
						<div data-bs-toggle="modal" data-bs-target="#reviews-{{r.id}}" style="cursor: pointer;">
							{{ score_gauge.scoreGaugeSmall(r.score, r.score_count) }}
						</div>
					</div>
					{% endif %}
				</div>
			</div>

			{{ providers.tray(r) }}

			{% if not r.providers.get(country) %}
			<p class="notAvailableMsg">Not available from any streaming providers.</p>
			{% endif %}
		</div>
	</div>
	{% endfor %}
</section>

<script>
	const outerHeight = (el) => {
		var height = el.offsetHeight;
		var style = window.getComputedStyle(el);
		height += parseInt(style.marginTop) + parseInt(style.marginBottom);
		return height;
	};

	const spaceNoResults = () => {
		let searchSection = document.querySelector('.searchSection')
		let noResults = document.querySelector('.searchResults.noSearchResults')
		if (noResults) {
			const inner = function () {
				let space = (outerHeight(searchSection) - noResults.clientHeight) / 2
				noResults.style.marginTop = space + 'px'
			}
			searchSection.addEventListener("animationstart", inner)
			window.addEventListener('resize', inner)
		}
	}

	spaceNoResults();
</script>
{{watchlistButton.script()}}
{% endblock %}