{% extends 'base.html' %}

{% block title %} Sign In {% endblock %}

{% block content %}
<div class="credentialPortal">
    <h1>Sign In</h1>

    <form method="post">
        <input type="text" class="form-control" placeholder="Username" name="username" value="{{
          request.form.username }}">
        <input type="password" class="form-control" placeholder="Password" name="password" value="{{
          request.form.password }}">
        <input class="btn btn-primary" type="submit" value="Sign In">
    </form>

    <a href="/sign_up">Don't have an account? Sign up!</a>
</div>

{% if error %}
<div class="alert alert-danger form-alert" role="alert">
    <strong>Error:</strong> {{ error }}
</div>
{% endif %}

{% endblock %}