{% macro watchlistButton(r) -%}


<button class="watchlistButton" id="watchlist-{{r.type}}-{{r.id}}" data-is-added="{{r.watchlist}}"
	style="margin-right: 10px">
	<span id="add" style="pointer-events: none">
		<i class="bi bi-bookmark" id="empty" style="pointer-events: none"></i>
		<i class="bi bi-bookmark-plus" id="plus" style="pointer-events: none"></i>
	</span>
	<span id="remove" style="pointer-events: none">
		<i class="bi bi-bookmark-fill" id="fill" style="pointer-events: none"></i>
		<i class="bi bi-bookmark-dash" id="dash" style="pointer-events: none"></i>
	</span>
</button>


{%- endmacro %}